---
import Nav from "../Nav/Nav.jsx"
const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>G7M7T1</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import "../../styles/global.css";
		</style>
		<style lang="scss">
		</style>
	</head>
	<body>
		<Nav />
		<header style={`background-image:url(${content.img})`} class="hero">
			<h1 class="title">{content.title}</h1>
		</header>
		<div class="leadIn">
			<div class="wrapper pt8 pb8 mb8 tac">
				{content.tags.map((t) => <span class="tag">{t}</span>)}
				<h3 class="tagline">{content.description}</h3>
			</div>
		</div>
	</body>
</html>