---
import Card from "../components/Card/Card.jsx"
import Nav from "../components/Nav/Nav.jsx"

interface MarkdownFrontmatter {
	publishDate: number;
}

const blogs = Astro.fetchContent<MarkdownFrontmatter>('./blogs/**/*.md')
	.filter(({ publishDate }) => !!publishDate)
	.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>G7M7T1 | Blogs</title>
		<style global>
			@import "../styles/global.css";
		</style>
		<style lang="scss">
			.blogs {
				width: 100%;
				padding: 0 2rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0 0 3rem 0;

				.blogTitle {
					margin: 5rem 0;
				}

				.blogList {
					display: grid;
					gap: 2rem;
				}
			}

				@media screen and (min-width: 310px) {
					.blogList {
						grid-template-columns: repeat(1, minmax(0, 1fr));
						padding: 1rem;
						margin-top: 2rem;
					}
				}

				@media screen and (min-width: 850px) {
					.blogList {
						grid-template-columns: repeat(2, minmax(0, 1fr));
						padding: 5rem;
						margin-top: 0;
					}
				}
		</style>
	</head>
	<body>
		<Nav />
		<div class="blogs">
			<h1 class="blogTitle">All Blogs</h1>
			<div class="blogList">
				{blogs.map((blog) => <Card blog={blog} />)}
			</div>
		</div>
	</body>
</html>