---
import Tour from '../components/Tour.astro'
import Nav from "../components/Nav/Nav.jsx"
import Banner from "../components/Banner/Banner.jsx"
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>G7M7T1</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
	</style>

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
	</style>
</head>
<body>
	<Nav />
	<Banner />
	<main>
		
		<Tour />
	</main>
</body>
</html>
