---
import Tour from '../components/Tour.astro'
import Nav from "../components/Nav/Nav.jsx"
import Banner from "../components/Banner/Banner.jsx"

// const blogs = Astro.fetchContent('./blogs/**/*.md');
// const featuredBlog = blogs[0];
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>G7M7T1</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
	</style>

	<style lang="scss">

	</style>
</head>
<body>
	<Nav />
	<Banner />
	<main>

		<Tour />
	</main>
</body>
</html>
